-#  This file is app/views/movies/index.html.haml
%h1 All Movies


%table#movies
  %thead
    %tr
      %th Title
      %th Rating
      %th Director
      %th Release Date
      %th More Info
      %th index
  %tbody
    - @movies.each_with_index do |movie,index|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.director        
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= index + 1

= link_to 'Add new movie', new_movie_path
